% Please add the following required packages to your document preamble:
% \usepackage{booktabs}
\begin{table}[]
\tiny
\tabcolsep=0.11cm
\begin{tabularx}{\textwidth}{@{}lXXlllllllllll@{}}
\toprule
          & \multicolumn{4}{c}{Parameter}                                                                                                                                                                                                                                   & \multicolumn{3}{c}{RN}                                                                                                                                                                         & \multicolumn{3}{c}{CCS}                                                                                                                                                                           & \multicolumn{3}{c}{CC}                                                                                                                                                                            \\ \midrule
          & over-\newline sampling                                                       & under-\newline sampling                                                       & \#trees                                                      & class weight                                          & Train                                                        & Train/Test                                                        & Test                                                        & Train                                                         & Train/Test                                                         & Test                                                         & Train                                                         & Train/Test                                                         & Test                                                         \\ \midrule
\BLOCK{for d in data}
          & \VAR{d.ratio_after_oversampling} & \VAR{d.ratio_after_undersampling} & \VAR{d.n_trees_in_forest} & \VAR{d.class_weight} &                                                              &                                                                   &                                                             &                                                               &                                                                    &                                                              &                                                               &                                                                    &                                                              \\
F1        &                                                                    &                                                                     &                                                              &                                                       & \VAR{d.train_f1_RF | round(4)}        & \VAR{d.train_dev_f1_RF | round(4)}        & \VAR{d.f1_RF | round(4)}        & \VAR{d.train_f1_CCS | round(4)}        & \VAR{d.train_dev_f1_CCS | round(4)}        & \VAR{d.f1_CCS | round(4)}        & \VAR{d.train_f1_CCS | round(4)}        & \VAR{d.train_dev_f1_CCS | round(4)}        & \VAR{d.f1_CCS | round(4)}        \\
Recall    &                                                                    &                                                                     &                                                              &                                                       & \VAR{d.train_recall_RF | round(4)}    & \VAR{d.train_dev_recall_RF | round(4)}    & \VAR{d.recall_RF | round(4)}    & \VAR{d.train_recall_CCS | round(4)}    & \VAR{d.train_dev_recall_CCS | round(4)}    & \VAR{d.recall_CCS | round(4)}    & \VAR{d.train_recall_CCS | round(4)}    & \VAR{d.train_dev_recall_CCS | round(4)}    & \VAR{d.recall_CCS | round(4)}    \\
Precision &                                                                    &                                                                     &                                                              &                                                       & \VAR{d.train_precision_RF | round(4)} & \VAR{d.train_dev_precision_RF | round(4)} & \VAR{d.precision_RF | round(4)} & \VAR{d.train_precision_CCS | round(4)} & \VAR{d.train_dev_precision_CCS | round(4)} & \VAR{d.precision_CCS | round(4)} & \VAR{d.train_precision_CCS | round(4)} & \VAR{d.train_dev_precision_CCS | round(4)} & \VAR{d.precision_CCS | round(4)} \\ \midrule
\BLOCK{ endfor }
\end{tabularx}
\caption{}
\label{tab:my-table}
\end{table}
